* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: #fff;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

section,
footer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid #555;
}

header {
  background-color: #111;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.habilidade {
  background-color: #222;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desafio {
  font-size: 26px;
  line-height: 120%;
}

.lado {
  display: flex;
  gap: 60px;
}

ul,
ol {
  margin-left: 15px;
}

.site {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sites {
  display: flex;
  gap: 20px;
}

img {
  max-width: 100%;
}

a {
  color: white;
}

a:hover {
  color: aquamarine;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
